@media(max-width: 1840px){
	.navbar .wrapper .rightside{
		right: 10px;
	}
}

@media(max-width: 1700px){
	.section2 .tabscont .sliderinsid .slick-next{
		right: -10px;
	}
	.section2 .tabscont .sliderinsid .slick-prev{
		left: -10px;
	}
	.section2 .tabscont .sliderinsid .slick-slider .slick-list{
		width: 100%;
		padding-right: 8px;
		padding-left: 0;
	}
	.section2 .tabscont .sliderinsid .slick-initialized .slick-slide{
		margin-right: 0;
		margin-left: 15px;
	}
	.section2 .tabscont .sliderinsid .box .cont_box h4{
		font-size: 16px;
		line-height: 20px;
	}
	.section2 .tabscont .sliderinsid .box .placeforimg{
		height: unset;
	}
	.section2 .tabscont .sliderinsid .box{
		min-height: unset;
	}
	.section2 .tabscont .sliderinsid .box .cont_box {
	    padding: 11px 19px;
	    min-height: 160px;
	    padding-bottom: 50px;
	}
	.section4 .wrapper .viewall, .section2 .tabscont .viewall{
		padding-right: 20px;
	}


	.section4 .wrapper .slick-next{
		right: -10px;
	}
	.section4 .wrapper .slick-prev{
		left: -10px;
	}
	.section4 .wrapper .slick-slider .slick-list{
		width: 100%;
		padding-right: 8px;
		padding-left: 0;
	}
	.section4 .wrapper .slick-initialized .slick-slide{
		margin-right: 0;
		margin-left: 15px;
	}
	.section4 .wrapper .box .cont_box h4{
		font-size: 16px;
		line-height: 20px;
	}
	.section4 .wrapper .box .placeforimg{
		height: unset;
	}
	.section4 .wrapper .box{
		min-height: unset;
	}
	.section4 .wrapper .box .cont_box {
	    padding: 11px 19px;
	    min-height: 160px;
	    padding-bottom: 50px;
	}

	.browsepage .wrapper .rightside .workspace_grid .boxes .box{
		flex: 1 0 24%;
		max-width: 24%;
		margin-right: 1%;
	}
}
@media(max-width: 1670px){
	.navbar .wrapper form{
		max-width: 20rem;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc p{
		font-size: 13px;
		line-height: 19px;
		br{
			display: none;
		}
	}
}
@media(max-width: 1550px){
	.detaols_sec2 .wrapper{
		padding-right: 25rem;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc .rightt p{
		font-size: 14px;
		line-height: 15px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc{
		padding-right: 250px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc h4{
		font-size: 20px;
	}
	.footer .wrapper h1{
		line-height: 36px;
	}
	.section2 .tabs .tab{
		padding-left: 10px;
		padding-right: 10px;
	}
	.section2 .tabs .tab .tit{
		padding-left: 0;
		text-align: center;
		padding-right: 0 !important;
		padding-left: 0 !important;
		max-width: 100% !important;
	}
	.section2 .tabs .tab{
		min-height: 190px;
	}
	.section2 .tabs .tab:last-child .tit h2 .forspan span{
		right: -20px;
		left: unset;
	}
	.section2 .tabs .tab:last-child .tit h2 .forspan span:before{
		left: unset;
		right: 18px;
	}
	.section2 .tabs .tab .tit svg{
		position: relative;
		display: block;
		margin: auto;
		margin-bottom: 10px;
		left: 0;
		right: 0;
	}
	.section2 .tabs .tab .tit h2{
		font-size: 17px;
	}
	.section2 .tabs .tab .tit p{
		font-size: 13px;
		line-height: 17px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc{
		padding: 5px 12px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc .rightt p{
		margin-top: 5px;
	}
	.navbar .wrapper .linkwd2 .link{
		margin-right: 0.2rem;
	}
}
@media(max-width: 1475px){
	.navbar .wrapper form{
		max-width: 20rem;
	}
	.navbar .wrapper .linkwd{
		margin-left: 0;
	}
	.navbar .wrapper .linkwd .link{
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
	.navbar .wrapper .linkwd2 .link{
		margin-right: 0;
	}
	.navbar .wrapper form {
	    max-width: 15rem;
	    margin-left: 0;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc {
	    padding-right: 0;
	    padding-left: 10px;
	    padding-top: 10px;
	    width: 100%;
	    max-width: calc(100% - 310px);
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc p{
		margin-top: 0;
		max-width: 100%;
		padding-right: 10px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc .rightt{
		position: inherit;
	    right: unset;
	    top: unset;
	    transform: unset;
	    text-align: left;
	    p{
	    	text-align: left;
	    	margin: 0;
	    	margin-top: 3px;
	    }
	}
	.browsepage .wrapper .rightside .workspace .boxes .box img{
		max-width: 300px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box{
		height: 150px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .ads{
		padding-top: 25px;
		padding-bottom: 25px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc h3{
		font-size: 10px;
		line-height: 18px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc h4 {
	    font-size: 17px;
	    line-height: 20px;
	}

	.browsepage .wrapper .rightside .workspace_grid .boxes .box img{
		max-width: 100%;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box {
	    height: 280px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc{
		max-width: 100%;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc h3{
		margin-bottom: 5px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .ads h1 {
	    font-size: 34px;
	    line-height: 35px;
	    padding-right: 32px;
	}
}
@media(max-width: 1300px){
	.browsepage .wrapper .filters .filtersbefore{
		content: '';
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: #535454;
		display: block;
		-webkit-backdrop-filter: blur(1px);
		    backdrop-filter: blur(1px);
		opacity: 0.9;
	}
	.browsepage .wrapper .filters .contins {
	    padding-top: 45px;
	}
	.browsepage .wrapper .filters .filterarea{
		max-width: 100%;
		padding-left: 30px;
		padding-right: 30px;
		border-right: 0;
	}
	.browsepage .wrapper .filters h4, .browsepage .wrapper .filters h2{
		padding-left: 30px;
	}
	.browsepage .wrapper .filters{
		position: fixed;
		z-index: -1;
		left: 0;
		top: 0;
		bottom: 0;
		right: 0;
		overflow: auto;
		background: transparent;
		max-width: 100%;
		padding-bottom: 120px;
		visibility: hidden;
		opacity: 0;
		.contins{
			position: fixed;
			z-index: 9999999999999999;
			left: 0;
			top: 0;
			bottom: 0;
			overflow: auto;
			background: #fff;
			max-width: 350px;
			width: 100%;
			padding-bottom: 120px;
		}
		.btnphone{
			position: fixed;
			z-index: 99999999999999999;
			left: 0;
			bottom: 0;
			min-height: 70px;
			background: #fff;
			max-width: 350px;
			width: 100%;
			box-shadow: 0px -8px 17px 3px rgba(0, 0, 0, 0.25);
			display: block;
			a{
				
				background: #0094B3;
				/* course shadow */
				box-shadow: 0px 11px 19px 3px rgba(0, 0, 0, 0.12);
				border-radius: 4px;
				
				position: absolute;
				left: 10px;
				right: 10px;
				top: 10px;
				bottom: 10px;

				text-align: center;
				line-height: 50px;
				font-size: 13px;
				letter-spacing: 0.6px;
				text-transform: uppercase;
				color: #FFFFFF;
				font-family: AvenirBlack;
				-webkit-transition: all .25s ease;
				   -moz-transition: all .25s ease;
				    -ms-transition: all .25s ease;
				     -o-transition: all .25s ease;
				        transition: all .25s ease;
			}
		}
	}
	.browsepage .wrapper .filters_active{
		visibility: visible;
		opacity: 1;
		z-index: 9999999999999999;
	}
	.browsepage .wrapper .rightside .workspace .options{
		margin-top: -32px;
		margin-bottom: 39px;
	}
	.browsepage .wrapper .filters .checkedfilters{
		padding-left: 30px;
		padding-right: 30px;
		width: 100%;
		max-width: 100%;
	}
	.browsepage .wrapper .filters .filterarea h3{
		width: 100%;
		max-width: 100%;
	}
	.browsepage .wrapper .filters .checkedfilters .clearall{
		right: 30px;
	}
	.browsepage .wrapper .rightside{
		max-width: 100%;
	}
	.browsepage .wrapper .rightside h1{
		font-size: 50px;
	}

	.footer .cols{
		display: block;
		.col{
			display: inline-block;
			width: calc(25% - 5px);
			vertical-align: top;
		}
		.col:first-child{
			width: 100%;
			margin-bottom: 30px;
		}
	}
	.footer .wrapper{
		padding-bottom: 30px;
	}
	.navbar .wrapper .logo{
		max-width: 210px;
		margin-top: 18px;
	}
	.navbar .wrapper .linkwd .link, .navbar .wrapper .linkwd2 .link{
		font-size: 12px;
	}
	.navbar .wrapper .rightside .login{
		margin-right: 3px;
		font-size: 12px;
	}
	.navbar .wrapper .rightside .createacc{
		width: 160px;
	}
	.navbar .wrapper .linkwd2 .dropdowns{
		left: -0.8rem;
	}
	.sections1 .wrapper {
	    min-height: 27rem;
	}
	.sections1 .wrapper h1{
		font-size: 60px;
	    line-height: 70px;
	    padding-top: 130px;
	    max-width: 580px;
	}
	.sections1 .wrapper p{
		font-size: 18px;
		line-height: 25px;
		max-width: 450px;
	}
	.sections1 .wrapper .cbtn a{
		line-height: 2.7rem;
		font-size: 12px;
	}
}

@media(max-width: 1200px){
	.details_hero .wrapper h1{
		font-size: 60px;
	}
	.detaols_sec2 .wrapper h1{
		font-size: 50px;
	}
	.detaols_sec2 .wrapper p{
		font-size: 18px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .ads h1{
	    font-size: 33px;
	    line-height: 35px;
	}
	.section2 .tabs .tab .tit h2{
		font-size: 14px;
	}
	.navbar .wrapper .linkwd2 .dropdowns{
		left: -1.3rem;
	}
	.navbar .wrapper .logo {
	    max-width: 180px;
	    margin-top: 20px;
	}
	.navbar .wrapper form {
	    max-width: 11rem;
	}
	.navbar .wrapper .rightside .createacc {
	    width: 140px;
	    font-size: 11px;
	}
	.navbar .wrapper .rightside .login{
		margin-right: 0;
	}
	.navbar .wrapper .linkwd2 .link{
		padding-left: 0.25rem;
		padding-right: 0.25rem;
	}
	.navbar .wrapper .linkwd{
		margin-left: -10px;
	}
	.navbar .wrapper .rightside .login{
		margin-right: -7px;
	}
	.navbar .wrapper .linkwd2 .link{
		margin-right: -7px;
	}
	.navbar .wrapper form input{
		padding-right: 2rem;
		padding-left: 1rem;
	}
	.navbar .wrapper form button{
		right: 15px;
	}
	.navbar .wrapper form {
	    max-width: 9rem;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes{
		padding: 0;
		margin: 0;
	}
}


@media(max-width: 992px){
	.whyce .wrapper h3{
		font-size: 19px;
	    margin-bottom: 10px;
	    margin-top: 40px;
	    span{
	    	font-size: 14px;
	    }
	}
	.browsepage .wrapper .rightside .workspace .options a svg{
		max-width: 17px;
	}
	.browsepage .wrapper .rightside .workspace .options a{
		margin-left: 8px;
		margin-top: 3px;
	}
	.whyce {
		margin-top: 70px;
	}
	.whyce .wrapper{
		padding: 0;
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		min-height: unset;
		padding-top: 50px;
		padding-bottom: 80px;
	}
	.whyce .wrapper h1{
		font-size: 42px;
		line-height: 42px;
		color: #47463D;
		margin-bottom: 30px;
	}
	.whyce .wrapper p{
		font-size: 16px;
		line-height: 25px;
	}
	.whyce .wrapper .wimg{
		padding-left: 0;
	}
	.whyce .wrapper .plforimg{
		position: relative;
		margin-bottom: 20px;
		img{
			max-width: 55px;
			display: inline-block;
			vertical-align: top;
			box-shadow: none;
		}
		h3{
			display: inline-block;
			vertical-align: top;
			margin-top: 37px;
			margin-left: 10px;
		}
	}
	.whyce .wrapper .l:before{
		top: 8px;
		transform: unset;
	}





	.details_hero{
		margin-top: 70px;
			min-height: unset;
		.wrapper{
			padding: 0;
			max-width: 30rem;
			padding-left: 0.5rem;
			padding-right: 0.5rem;
			min-height: unset;
			padding-top: 80px;
			padding-bottom: 80px;
		}
	}
	.details_hero .wrapper h2{
		padding-top: 0;
		font-size: 16px;
		line-height: unset;
	}
	.details_hero .wrapper h1{
		margin-top: 0;
		font-size: 42px;
		line-height: 42px;
	}
	.details_hero .wrapper .namep .avatar{
		max-width: 47px;
		left: 0;
		top: -1px;
	}
	.details_hero .wrapper .namep{
		margin-top: 20px;
	}
	.details_hero .wrapper .options{
		margin-top: 40px
	}
	.details_hero .wrapper .options a{
		line-height: 42px;
	    min-height: 42px;
	    font-size: 12px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.details_hero{
		background: linear-gradient( rgba(0, 61, 76, 1) 100%, rgba(0, 61, 76, 1)100%), url("../img/detailsbg_phone.png") no-repeat center center; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover;

		  background-blend-mode: overlay;
	}
	.details_hero:before{
		background: url(../img/gradient_phone.png) no-repeat bottom left;
	}
	.details_hero .wrapper .options .iconbtn{
		width: 46px;
		img{
			max-width: 40%;
		}
	}
	.details_hero .wrapper .namep p{
		font-size: 13px;
	}
	.details_hero .wrapper .namep h3{
		font-size: 19px;
	}
	.details_hero .wrapper .namep{
		padding-left: 65px;
	}

	.detaols_sec2 .wrapper .rightbox{
		position: relative;
		right: unset;
		top: unset;
		margin: auto;
		margin-top: 40px;
		padding: 23px 21px;
	}
	.detaols_sec2 .wrapper .rightbox h3{
		line-height: 21px;
		margin-bottom: 10px;
	}
	.detaols_sec2 .wrapper .rightbox .downt{
		left: 0px;
		right: 0px;
	}
	.detaols_sec2 .wrapper .rightbox .downt p{
		max-width: 310px;
		    margin: auto;
		font-size: 15px;
	}
	.detaols_sec2 .wrapper .rightbox .datas p a{
		position: relative;
		right: unset;
		display: block;
		margin-top: 3px;
	}
	.detaols_sec2 .wrapper .rightbox h2{
		font-size: 24px;
		right: 20px;
		top: 25px;
	}
	.detaols_sec2 .wrapper .rightbox h1{
		font-size: 28px;
		 line-height: 31px;
	}
	.detaols_sec2 .wrapper p{
		font-size: 16px;
		line-height: 22px;
	}
	.detaols_sec2 .wrapper{
		padding: 0;
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		min-height: unset;
		padding-top: 25px;
		padding-bottom: 190px;
	}
	.detaols_sec2 .wrapper h1 {
	    font-size: 28px;
	    line-height: unset;
	    margin-bottom: 10px;
	}
	.detaols_sec2 .wrapper .line1{
		display: none;
	}
	.detaols_sec2 .wrapper .line2{
		display: none;
	}
	.detaols_sec2 .wrapper p a{
		padding-bottom: 1px;
	}
	.detaols_sec2 .wrapper .boxes{
		margin-bottom: 20px;
	}
	.detaols_sec2 .wrapper .boxc{
		padding: 20px;
	}
	.detaols_sec2 .wrapper .boxc h2{
		font-size: 23px;
	}
	.navbar .wrapper .navonphone_active{
		padding-bottom: 70px;
	}
	.detaols_sec2 .wrapper .contdwn{
		padding-bottom: 0px;
		max-height: 0;
		overflow: hidden;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.detaols_sec2 .wrapper .tabonphone2_active .contdwn{
		max-height: 2000px;
		visibility: visible;
		opacity: 1;
		padding-bottom: 40px;
	}
	.detaols_sec2 .wrapper .tabonphone{
		border-top: 1px solid #C4C4C4;
		border-bottom: 1px solid #C4C4C4;
		margin-top: 30px;
	}
	.detaols_sec2 .wrapper .h1_v2{
		font-size: 28px;
		line-height: 72px;
		color: #535454;
		margin: 0;
		padding: 0;
		position: relative;
		.rightarrow{
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
		}
	}
	.detaols_sec2 .wrapper .tit2{
		font-size: 28px;
		line-height: 72px;
		color: #535454;
		margin: 0;
		padding: 0;
		position: relative;
		.rightarrow{
			position: absolute;
			right: 5px;
			top: 50%;
			transform: translateY(-50%);
			display: block;
		}
	}

	.detaols_sec2 .wrapper .tabonphone2{
		border-bottom: 1px solid #C4C4C4;
	}

	.detaols_sec2 .wrapper .tabonphone2_active .tit2, .detaols_sec2 .wrapper .tabonphone2_active .h1_v2{
		.rightarrow{
			transform: rotate(180deg);
		    margin-top: -6px;
		    path{
		    	fill: #0094B3 !important;
		    }
		}
	}
	.detaols_sec2 .wrapper .boxes{
		margin-bottom: 0;
	}




	.navbar .wrapper .linkwd2 .dropdowns{
		position: fixed;
		top: 0;
		z-index: 999;
		background: #fff;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 0;
		border: 0;
		padding: 0;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box{
		height: auto;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box img {
	    max-width: 100%;
	    display: block;
	    width: 100%;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .iconr{
		max-width: 32px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc{
		padding: 14px;
		max-width: 100%;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc .rightt p{
		margin-top: 7px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc h3 {
	    font-size: 11px;
	    line-height: 28px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc h4 {
	    font-size: 19px;
	    line-height: 25px;
	    margin-bottom: 10px;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box .desc p{
		padding-right: 0;
	    font-size: 14px;
	    line-height: 20px;
	    margin-bottom: 13px;
	}

	.browsepage .wrapper .rightside .workspace_grid .boxes{
		width: 106%;
		margin-left: -3%;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box {
	    flex: 1 0 47%;
	    max-width: 47%;
	    margin-right: 1.5%;
	    margin-left: 1.5%;
	    margin-bottom: 3%;
	}
	.browsepage .wrapper .rightside .workspace .boxes .box{
		margin-top: 0;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .ads {
		flex: 1 0 97%;
		max-width: 97%;
		margin-right: 0;
	}
	// .browsepage .wrapper .rightside .workspace_grid .boxes .box:nth-child(4n) {
	//     margin-right: 3%;
	// }
	.browsepage .wrapper .rightside .workspace_grid .boxes .box:nth-child(2n) {
	    margin-right: 1.5%;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc{
		padding: 10px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc h3{
		font-size: 11px;
		line-height: 18px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc h4{
		font-size: 15px;
		line-height: 20px;
		margin-bottom: 0;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc .rightt p:last-child {
	    position: relative;
	    right: unset;
	    bottom: unset;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc .rightt p{
		margin-top: 4px;
		font-size: 12px;
	}
	.browsepage .wrapper .rightside .workspace_grid .boxes .box .desc .rightt p .b{
		margin-right: 0;
	}

	.browsepage .wrapper .rightside .workspace .boxes .ads:before{
		background: rgba(0, 61, 76, 0.7);
	}
	.browsepage .wrapper .rightside .workspace .boxes .ads{
		padding-top: 55px;
		padding-bottom: 55px;
		background: linear-gradient( rgba(0, 61, 76, 0.5) 100%, rgba(0, 61, 76, 0.5)100%), url("../img/bgads_grid.png") no-repeat top right; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-blend-mode: overlay;
		position: relative;
		h1{
			font-size: 31px;
			text-align: center;
		}
		p{
			font-size: 16px;
			padding-left: 15px;
			padding-right: 15px;
			text-align: center;
		}
	}







	.browsepage .wrapper .rightside h2{
		margin-top: 25px;
	}
	.browsepage .wrapper .rightside h1{
		font-size: 42px;
		line-height: 42px;
		margin-top: 0;
	}
	.browsepage .wrapper .rightside .courses{
		margin-top: 10px;
		font-size: 14px;
	}
	.browsepage .wrapper{
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.section4{
		padding-bottom: 0rem;
	}
	.section4 .wrapper{
		padding-top: 2rem;
	}
	.footer .wrapper{
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.footer .wrapper h1{
		font-size: 21px;
		line-height: 30px;
		padding-top: 34px;
		padding-bottom: 34px;
		padding-left: 40px;
		padding-right: 40px;
	}
	.footer .cols .col:first-child{
		display: none;
	}
	.footer .cols .col{
		max-width: 100% !important;
		width: 100% !important;
	}
	.footer .cols .col .contins{
		max-width: 100% !important;
		width: 100% !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		text-align: center;
		margin-top: 34px;
	}
	.footer .cols .col .contins p{
		font-size: 15px;
	}
	.footer .cols .col .contins h2{
		font-size: 15px;
	}
	.footer h4{
		padding-left: 0;
		max-width: 290px;
		margin: auto;
		margin-top: 40px;
		text-align: center;
		a{
			margin-left: 7px;
			margin-right: 7px;
		}
	}
	.footer .cols{
		margin-top: 0;
	}
	.footer .cols .col:nth-child(5) .contins .cc img{
		position: relative;
		display: block;
		left: 0;
		right: 0;
		top: 0;
		margin: auto;
		margin-bottom: 5px;
	}
	.footer .cols .col:nth-child(5) .contins .cc .mail{
		padding-right: 10px;
	}
	.footer .cols .col:nth-child(5) .contins .sm{
		margin-left: 0;
	}
	.footer .cols .col:nth-child(5) .contins .sm p a{
		margin-left: 7px;
		margin-right: 7px;
	}
	.footer .cols .col .contins .sm h2{
		margin-top: 40px;
	}
	.section4 .wrapper{
		min-height: unset;
		padding-bottom: 2rem;
	}
	.section2 .wrapper{
		padding-bottom: 30px;
	}
	.section3{
		background: linear-gradient( rgba(0, 61, 76, 1) 100%, rgba(0, 61, 76, 1)100%), url("../img/bg_sec3_home_phone.png") no-repeat top right; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-blend-mode: overlay;
		position: relative;
	}
	.section3:before{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0, 61, 76, 0.6);
	}
	.section3 .wrapper{
		padding: 0;
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		min-height: unset;
		padding-top: 68px;
		padding-bottom: 68px;
	}

	.section3 .wrapper h1{
		font-size: 42px;
		margin: auto;
		margin-bottom: 20px;
		padding: 0;
	}
	.section3 .wrapper p{
		font-size: 15px;
		line-height: 22px;
	}
	.section3 .wrapper .cbtn a {
	    line-height: 2.5rem;
	    font-size: 11px;
	    width: 11.85rem;
	}
	.section2 .tabscont .cont{
		visibility: visible;
		opacity: 1;
		max-height: unset;
	}
	.section2 .tabscont .sliderinsid{
		max-height: 0;
		opacity: 0;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.section2 .tabscont .active_cont{
		.sliderinsid{
			max-height: 500px;
			opacity: 1;
			padding-bottom: 40px;
		}
	}
	.section2 .tabscont .cont:last-child{
		border-bottom: 1px solid #C4C4C4;
	}
	.section2 .tabs{
		display: none;
	}
	.section2 .tabscont .sliderinsid{
		padding-top: 0;
	}
	.section2 .wrapper, .section4 .wrapper{
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	.section4 .wrapper .slick-initialized .slick-slide, .section2 .tabscont .sliderinsid .slick-initialized .slick-slide{
		max-width: 272px;
	}
	.section4 .wrapper .viewall, .section2 .tabscont .viewall{
		text-align: left;
		font-size: 12px;
	}
	.section4 .wrapper h2, .section2 .tabscont .sliderinsid h2{
		font-size: 12px;
		margin-bottom: 8px;
	}
	.section4 .wrapper .viewall, .section2 .tabscont .viewall{
		margin-top: -5px;
	}
	.section4 .wrapper .box .cont_box, .section2 .tabscont .sliderinsid .box .cont_box{
		padding: 8px 16px;
		min-height: 150px;
	}
	.section4 .wrapper .slick-slider .slick-list, .section2 .tabscont .sliderinsid .slick-slider .slick-list{
		width: calc(100% + 44px);
		padding-right: 0;
		padding-left: 22px;
		margin: 0;
		margin-left: -22px;
	}
	.section4 .wrapper .slick-prev, .section4 .wrapper .slick-next, .section2 .tabscont .sliderinsid .slick-prev, .section2 .tabscont .sliderinsid .slick-next{
		display: none !important;
	}
	.sections1 .wrapper{
		max-width: 30rem;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
		    min-height: unset;
		    padding-bottom: 5.6rem;
	}
	.sections1 .wrapper h1{
		font-size: 41px;
		line-height: 51px;
		text-align: center;
		margin: auto;
		padding-top: 9.5rem;
	}
	.sections1 .wrapper .cbtn a {
	    line-height: 2.5rem;
	    font-size: 11px;
	    width: 11.85rem;
	}
	.sections1 .wrapper p{
		font-size: 16px;
		line-height: 22px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.sections1 .wrapper .cbtn{
		text-align: center;
	}
	.sections1 .wrapper h2{
		left: 0;
		right: 0;
		margin: auto;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
	}
	.sections1 {
	    margin-top: 3.8rem;
		background: url("../img/bg_sec1_home_mobile.png") no-repeat top right; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.navbar .wrapper .linkwd .linksval{
		position: fixed;
		top: 0;
		z-index: 999;
		background: #fff;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 0;
		border: 0;
		padding: 0;
		max-width: 30rem;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		-webkit-transition: all .25s ease;
		   -moz-transition: all .25s ease;
		    -ms-transition: all .25s ease;
		     -o-transition: all .25s ease;
		        transition: all .25s ease;
	}
	.navbar .wrapper .linkwd2:hover .dropdowns{
		position: fixed;
		top: 0;
		z-index: 999;
		background: #fff;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 0;
		border: 0;
		padding: 0;
		max-width: 30rem;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		box-shadow: unset;
		visibility: hidden;
		opacity: 0;
	}
	.navbar .wrapper .linkwd2 .links_active{
		position: fixed;
		top: 0;
		z-index: 999;
		background: #fff;
		left: 0;
		right: 0;
		top: 0px;
		bottom: 0;
		border: 0;
		padding: 0;
		max-width: 350px;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		box-shadow: unset;
		visibility: visible !important;
		opacity: 1 !important;
	}
	.navbar .wrapper .navonphone {
	    display: block;
	    vertical-align: unset;
	    width: 100%;
	    position: fixed;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    background: #fff;	    
	    overflow: auto;
	    display: none;
	    opacity: 0;
	    visibility: hidden;
	    -webkit-transition: all .25s ease;
	       -moz-transition: all .25s ease;
	        -ms-transition: all .25s ease;
	         -o-transition: all .25s ease;
	            transition: all .25s ease;
	}
	.navbar .wrapper .navonphone_active{
		display: block;
		opacity: 1;
		visibility: visible;
	}
	.navbar .wrapper .linkwd{
		display: block;
	}
	.navbar .wrapper .linkwd .link{
		display: none;
	}
	.navbar .wrapper .linkwd .dropdowns{
		position: relative;
		left: unset;
		visibility: visible;
		opacity: 1;

		background: unset;
		border: unset;
		box-shadow: unset;
		min-height: unset;
		min-width: unset;
		border-radius: unset;
	}
	.navbar .wrapper .rightside{
		right: unset;
		display: block;
		position: relative;
	}
	.navbar{
		min-height: 3.8rem;
	}
	.navbar .wrapper .forlogo{
		max-width: 210px;
		margin: auto;
		display: block;
		margin-top: 6px;
	}
	.navbar .wrapper .logo{
		max-width: 210px;
		margin: auto;
		display: block;
		margin-top: 6px;
	}
	.navbar .wrapper .linkwd .leftside{
		padding: 0;
		padding-left: 10px;
		padding-right: 10px;
		max-width: 30rem;
		margin: auto;
		display: block;
		margin-top: 100px;
	}
	.navbar .wrapper form{
		position: absolute;
		top: 70px;
		max-width: 30rem;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		left: 0;
		right: 0;
		width: 100%;
	}
	.navbar .wrapper .linkwd{
		margin-left: 0;
	}
	.navbar .wrapper form{
		*::-webkit-input-placeholder { /* Edge */
		  font-family: 'Montserrat', sans-serif;
		  font-weight: 500;
		  font-size: 16px;
		  line-height: 18px;
		  color: #717171;
		}

		*:-ms-input-placeholder { /* Internet Explorer 10-11 */
		  font-family: 'Montserrat', sans-serif;
		  font-weight: 500;
		  font-size: 16px;
		  line-height: 18px;
		  color: #717171;
		}

		*::placeholder {
		  font-family: 'Montserrat', sans-serif;
		  font-weight: 500;
		  font-size: 16px;
		  line-height: 18px;
		  color: #717171;
		}
	}
	.navbar .wrapper form input{
		padding: 0.625rem;
		padding-right: 2rem;
		padding-left: 1rem;
		font-family: 'Montserrat', sans-serif;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		color: #717171;
		box-shadow: none;
		-webkit-appearance: none;
	}
	.navbar .wrapper form button {
	    right: 25px;
	}
	.navbar .wrapper .linkwd .leftside a svg{
		right: 0px;
	}
	.navbar .wrapper .linkwd2 .link{
		border: 0;
		display: block;
		padding: 0;
		margin: auto;
		border-top: 1px solid #C4C4C4;
		line-height: 60px;
		margin-top: 20px;
		position: relative;
		svg{
			position: absolute;
			right: 0px;
			top: 23px;
			margin: 0;
			opacity: 0.7;
		}
	}

	.navbar .wrapper .linkwd2 .link:hover{
		background: transparent;
		color: #007D95;
			opacity: 1;
		font-family: AvenirBlack;
		svg{
			opacity: 1;
		}
		.strokeh{
			stroke: #007D95 !important;
		}
		.fillh{
			fill: #007D95 !important;
		}
	}
	.navbar .wrapper .rightside{
		max-width: 30rem;
		padding-left: 10px;
		padding-right: 10px;
		margin: auto;
		display: block;
	}
	.navbar .wrapper .rightside .login{
		margin: 0;
		display: block;
		margin: 0;
		    display: block;
		    line-height: 25px;
		    padding: 0;
	}
	.navbar{
		.forxicon{
			max-width: 30rem;
			padding-left: 10px;
			padding-right: 10px;
			margin: auto;
			margin-top: 22px;
		}
		.forxicon2{
			padding-left: 0;
			padding-right: 0;
			margin-bottom: 12px;
			margin-top: 20px;
		}
	}
	.navbar .wrapper .rightside .createacc{
		margin: 0;
		margin-top: 15px;
		background: transparent;
		text-align: left;
		color: #007D95;
		font-size: 12px;
		line-height: 18px;
	}
	.navbar .wrapper .linkwd2{
		display: block;
		margin: auto;
	}
	.navbar .wrapper{
		max-width: 30rem;
		.hambmenu{
			position: absolute;
			    top: 20px;
		}
		.searchicon{
			position: absolute;
			    top: 22px;
			    right: 10px;
		}
	}
}
@media(max-width: 772px){
	.section3 .wrapper h1{
		max-width: 240px;
	}
	.section3 .wrapper p{
		max-width: 280px;
	}
	.section3 .wrapper .cbtn a {
		width: 11.85rem;
	}
	.browsepage .wrapper .filters .btnphone{
		right: 0;
		max-width: 100%;
	}
}
@media(max-width: 370px){
	.browsepage .wrapper .filters .contins{
		max-width: calc(100% - 20px);
	}
	.browsepage .wrapper .filters .filterarea{
		padding-left: 20px;
		padding-right: 20px;
	}
	.browsepage .wrapper .filters h4, .browsepage .wrapper .filters h2{
		padding-left: 20px;
	}
	.whyce .wrapper h1, .details_hero .wrapper h1{
		font-size: 37px;
	}
}
@media(max-width: 341px){
	.detaols_sec2 .wrapper .rightbox .downt p{
		font-size: 14px;
	}
	.footer .wrapper h1{
		padding-left: 30px;
		padding-right: 30px;
	}
}



